{% extends "base.html" %}
  {% block content %}
    <h1>To Do</h1>
    <form method = "post">
      <label for = "new_task">New Task</label>
      <input type = "text" name = "task" id = "new_task" autofocus>
      <input type = "submit" value = "Add">
    </form>
    <hr>
    {% if task|length == 0 %}
      <p>All done</p>
    {% else %}
      <ol>
        {% for item in task %}
          <li>{{item.name}}
            <form method = "post" action = "/delete_task" style = "display: inline-block;">
              <input type = "hidden" name = "task_id" value = {{item.id}}>
              <input type = "submit" value = "Completed">
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  {% endblock %}
